aiohappyeyeballs==2.6.1
altgraph==0.17.4
attrs==25.3.0
cachetools==6.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
discord.py==2.5.2
frozenlist==1.7.0
idna==3.10
multidict==6.4.4
packaging==25.0
pefile==2023.2.7
propcache==0.3.2
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
python-dotenv==1.1.0
pywin32-ctypes==0.2.3
requests==2.32.4
yarl==1.20.1
aiohttp==3.12.15
aiosignal==1.4.0
urllib3==2.5.0
contextvars==2.4
